<div class="row">
  <% @user_wishlists.each do |wishlist| %>
      <%= render :partial => '/wishlists/wishlist', :locals => {wishlist: wishlist} %>
  <% end %>
</div>

<br>
<%= link_to 'Back', wishlists_path %>