<h1>Editing wishlist item</h1>

<%= render(partial: 'form', locals: {url:wishlist_wishlist_item_path(wishlist_id: @wishlist_item.wishlist.id, id: @wishlist_item.id)}) %>

<%= link_to 'Back', wishlist_path(id: @wishlist_item.wishlist.id) %>
