// Place all the styles related to the wishlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wishlist-box {
  width: 250px;
  height: 250px;
  border: 1px solid black;
  border-radius: 18px;
  margin-bottom: 15px;
}

.wishlist-box th {
  padding: 10px 10px 0px 10px;
  font-size: 18px;
}

.wishlist-box td {
  padding: 10px 10px 0px 10px;
}
