<div class="col-md-4">
  <div class="wishlist-box">


        <table>
          <thead>
          <tr>
            <th><%= link_to wishlist.title, wishlist %></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><%= wishlist.description %></td>
          </tr>
            <hr>
            <% wishlist.wishlist_items.each do |witem| %>
              <tr>
                <td><%=witem.title%></td>
                <td><%=witem.price%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
  </div>
</div>
