<h1>Editing Wishlist</h1>

<% if current_user && (current_user.id == @wishlist.user_id)  %>
<%= render 'form' %>

</br>
<%= link_to 'Show', @wishlist %> |
<%= link_to 'Destroy', @wishlist, method: :delete, data: { confirm: 'Are you sure?' } %> |

<%else %>
You are not permitted to do that!
<% end %>
<%= link_to 'Back', wishlists_path %>
