<div class="image-container"><%= image_tag("santa.png", class: "header-image") %>></div>
<div class="row">
  <% if (@wishlists.empty?) %>
      No one created any wishlist. :(
  <% else %>
    <% @wishlists.each do |wishlist| %>
        <% if wishlist.is_public? %>
            <%= render :partial => 'wishlist', :locals => {wishlist: wishlist} %>
          <% end %>
    <% end %>
  <% end %>
</div>
