<p id="notice"><%= notice %></p>

<h1>Ho Ho Ho</h1>
<div class="row">
  <% @wishlists.each do |wishlist| %>
      <% if wishlist.is_public? %>
        <%= render :partial => 'wishlist', :locals => {wishlist: wishlist} %>
      <% end %>
  <% end %>
</div>
<br>

<% if (current_user) %> <%= link_to 'My Wishlist', user_wishlists_path(current_user.id) %><% end %>
<%= link_to 'New Wishlist', new_wishlist_path %>