<div class="image-container"><img class="header-image" src="assets/santa.png"></div>
<div class="row">
  <% if (@wishlists.empty?) %>
      No one created any wishlist. :(
  <% else %>
    <% @wishlists.each do |wishlist| %>
        <% if wishlist.is_public? %>
            <%= render :partial => 'wishlist', :locals => {wishlist: wishlist} %>
          <% end %>
    <% end %>
  <% end %>
</div>
