<h1>Ho Ho Ho</h1>
<div class="row">
  <% if (@wishlists.empty?) %>
      No one created any wishlist. :(
  <% else %>
    <% @wishlists.each do |wishlist| %>
        <% if wishlist.is_public? %>
            <%= render :partial => 'wishlist', :locals => {wishlist: wishlist} %>
          <% end %>
    <% end %>
  <% end %>
</div>
<br>

<% if (current_user) %>
    <%= link_to 'My Wishlist', user_wishlists_path(current_user.id) %> |
    <%= link_to 'New Wishlist', new_wishlist_path %>
<% end %>
